@import "../Var.scss";


// Large Screen design
@media(min-width: $mediaLS){
  //Skill
  .skill{
    display: flex;
    flex-direction: column;
    width: 100%;

    .btn-title {
      text-align: center;
      font-family: "Oswald-Regular";
      cursor: pointer;
    }

    .btn-title:hover {
      
    }

    .skill-list {
      display: flex;
      flex-flow: column wrap;
      max-height: 35rem;
      align-content: space-around;
      justify-content: center;

      .btn {
        cursor: pointer;
      }

      // SubCategory langage
      .langage {
        display: flex;
        flex-direction: row;
        align-content: baseline;
        justify-content: space-between;
        padding-block-start: 0.6em;
        padding-block-end: 0.6em;
        p{
          margin:0;
          padding-inline-end: 0.6rem;
        }
      }

      .sub-category {
        h3 {
          font-family: "Oswald-Regular";
          border-bottom: solid 1rem $orange;
        }
      }

      .back,.front {
        max-width: 25rem;
      }
    }
  }

  .is-linked-to {
    background-color: black;
  }
}