@import "./Var.scss";

body {
  color: $grey-dark;
}

// Large Screen design
@media(min-width: $mediaLS){
  
  // General
  .container {
    display: flex;
    $padding-h: 0.8rem;
    $padding-v: 1.6rem;
    padding-inline-start: $padding-h;
    padding-inline-end: $padding-h;
    padding-block-start: $padding-v;
    padding-block-end: $padding-v;
  }

  // Header
  .header-bar {
    $margin-inline: 0.6em;
    padding-block-start: 0;
    padding-block-end: 0;
    flex-direction: row;
    align-items: center;
    background-color: $grey-light;
    .ico-resume {
      width: 2.5em;
      height: 2.5em;
      margin-inline-start: $margin-inline;
      margin-inline-end: $margin-inline;
    }
    h1 {
      font-family: 'Oswald-Regular';
      margin-inline-start: $margin-inline;
      margin-inline-end: $margin-inline;
    }
  }

  // IntroSite
  .intro-site {
    flex-direction: column;
    padding-block-start: 0;
  }

  // IntroCV
  .intro-cv {
    flex-direction: row;
    padding-block-start: 0;
    align-items: center;
    .profile-picture {
      max-width: 100%;
      height: fit-content;
      padding-inline-start: 0.5rem;
      padding-inline-end: 0.5rem;
    }
    .profile-info {
      display: flex;
      flex-direction: column;
      height: fit-content;
      padding-inline-start: 0.5rem;
      padding-inline-end: 0.5rem;
      font-size: 0.8em;
      h1 {
        font-size: 1.2em;
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-block-end: 0.8rem;
        img {
          padding-inline-end: 0.5rem;
          max-height: 0.8rem;
        }
      }
    }
    .profile-desc {
      height: fit-content;
      padding-inline-start: 0.5rem;
      padding-inline-end: 0.5rem;
      align-self: flex-start;
      flex-grow: 2;
    }
  }

  // Interest
  .interest {
    flex-direction: column;
  }

  // CoreCV
  .core-cv {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-block-start: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    background-color: $grey-light;

    // CoreCvItem
    .core-cv-item {
      margin: auto;
      text-align: center;
      padding-block-start: 1.6rem;
      .ico-item{
        max-width: 6rem;
        height: auto;
        transition: transform 1s;
      }
      .button-item {
        h1{
          font-family: "SourceCodePro-light";
      }
      }
      .button-item:hover {
        cursor: pointer;
        .ico-item{
          transform: scale(1.2);
        }
        h1{
          font-family: "SourceCodePro-regular";
          text-decoration: underline overline $orange;
        }        
      }
    }
    .content {
      text-align: left;
      display: none;
    }
    // CoreCvItem actif
    .actif {
      width: 100%;
      background-color: $grey-dark;
      order: -1;
      color: $grey-light;
      .button-item {
        display: flex;
        align-items: center;
        flex-flow: wrap;
        justify-content: space-around;
        max-width: 100%;
        padding-inline-start: 1.5rem;
        .ico-item{
          max-width: 4rem;
        }
      }
      h1 {
        color: $grey-light;
        text-decoration: underline overline $orange;
      }
      .content {
        display: flex;
      }
    }
  }

  // Footer
  .footer {
    background-color: $grey-light;
  }
}