/* 
* Screen Size for responsive design
*/
// Large screen min width
$mediaLS: 900px;
// Medium screen min width
$mediaMS: 600px;
// Small screen min width
$mediaSS: 300px; 

/*
* Color 
*/
$grey-light: #efefef;
$grey-dark: #666666;
$orange: #f6b26b;